.StatisticsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 100%;
    gap: 10px;
    list-style: none;
}

.statisticsItem {
    font-weight: 700;
    width: 200px;
    background-color: beige;
    padding: 0 20px;
    border: 1px solid grey;
    border-radius: 4px;
    
}

.good {
color: green;
}
.neutral {
    color: rgb(0, 89, 255);
}
.bad {
    color: orangered;
}

.feedback {
    color :rgb(255, 0, 179);
    text-align: center;
}
